@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}
@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1); /* Initial and final size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger size */
  }
}

.animate-scaleUpDown {
  animation: scaleUpDown 6s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(270deg, #ff0080, #ff8c00, #40e0d0);
  background-size: 600% 600%;
  animation: gradient 8s ease infinite;
}

@keyframes pulseGlow {
  0%,
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
